
<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}illinois.edu{% endblock %}
    </title>
    <style>
    .navigation {
        text-align:center;
    }
    .navigation a {
        margin: 0 10px;
    }
    </style>

</head>
<body>

<div class="logo">
    <img
        src="{% static 'css/illinois_logo.png' %}"
        alt="Illinois Logo"
        style="width: 50px !important; height: auto !important;"
    >
</div>



<!-- authentication -->
<div>
  <ul class="nav ms-auto">
        {% if user.is_authenticated %}
          <form action="{% url 'logout_urlpattern' %}" method="post" class="ms-auto">

              <!--IMPORTANT: If you do not include csrf token tag here, your logout will not work as intended. -->
              {% csrf_token %}
            <button class="btn btn-sm btn-outline-light" type="submit">
              Log Out, {{ user.get_username }}
            </button>
          </form>
        {% else %}
          <a class="btn btn-sm btn-outline-light ms-auto" href="{% url 'login_urlpattern' %}">Log In</a>
        {% endif %}
      </ul>

</div>


    <div class="navigation">
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'friends' %}">Friends</a>
            <a href="{% url 'notifications' %}">Notifications</a>
            <a href="{% url 'recommendations' %}">Recommendations</a>
            <a href="{% url 'activities' %}">Activities</a>
        </nav>
    </div>

<div style="text-align: center;">
<a href="{% url 'login_urlpattern' %}" class="btn btn-primary">
    Login
</a>
 </div>


    {% block send_search %}
    {% endblock %}

    {% block filter %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>