{% extends "base.html" %}

{% block title %}
    Friend List
{% endblock %}


<!------------------------------------------------------------>
<!-- Block: Content -->

{% block content %}
  <div class="d-flex align-items-center justify-content-between mt-3">
    <h2 class="mb-0">Friend List</h2>
  </div>

  <div class="card mt-3">
    <div class="card-body p-3">
      <ul class="mb-0">
        {% for friend in friends %}
          <li class="mb-1">
            <a href="{{ friend.get_absolute_url }}">{{ friend }}</a>
          </li>
        {% empty %}
          <li class="text-muted">No friends yet!</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}