{% extends "base.html" %}

{% block title %}
    Notifications
{% endblock %}


<!------------------------------------------------------------>
<!-- Block: Content -->

{% block content %}
  <div class="d-flex align-items-center justify-content-between mt-3">
    <h2 style="text-align: center;" class="mb-0">Notifications</h2>
  </div>

  <div class="card mt-3">
    <div class="card-body p-3">
      <ul class="mb-0">
        {% for noti in notifications %}
          <li class="mb-1">
            <a href="{{ noti.get_absolute_url }}">{{ noti }}</a>
          </li>
        {% empty %}
          <li class="text-muted">No notifications yet!</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}